@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Nunito:wght@400;600;700&display=swap');

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: #eff4fc;
    margin-top: 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 60rem;
    background: #fdfcfc;
    box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.30);
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title h1 {
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 130%;
    color: #3F3F55;
}

.main-title p {
    margin: 1rem 10rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color: #3F3F55;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.6rem;
    line-height: 130%;
    color: #343447;
}

.inputs-container {
    text-align: center;
}

.paredes input {
    width: 8rem;
    height: 3.5rem;
    padding: 1.4rem 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    background: #FFFFFF;
    color: #667085;
    border: 1px solid #D0D5DD;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.paredes {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.paredes label {
    margin-bottom: -1.2rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 50px;
    letter-spacing: 0.005em;
}

.bttn-calcular, .bttn-voltar {
    all: unset;
    position: relative;
    width: 16rem;
    height: 3.3rem;
    padding: 4px 40px;
    margin: 2rem;
    border-radius: 10px;
    cursor: pointer;
    background: #da0175;
    color: #F8F8F9;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 25px;
}

.main-content button:hover {
    filter: opacity(0.9);
}

.main-content svg {
    position: absolute;
    right: 65px;
    top: 10px;
    width: 2.1rem;
    height: 2.1rem;
}

.modal-backdrop {
    display: none;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mensagem {
    width: 35rem;
    height: 22rem;
    padding: 0 3rem;
    border-radius: 10px;
    position: relative;
    background: #eff4fc;
    text-align: center;
}

.mensagem svg {
    position: absolute;
    top: 1.5rem;
    right: 2.0rem;
    cursor: pointer;
}

.mensagem h1, .resultado h1 {
    margin-bottom: 2rem;
    color: #3F3F55;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 25px;
}

.mensagem img {
    width: 13rem;
}

.exibir-modal {
    display: flex;
}

.hidden {
    display: none;
}

.resultado {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.bttn-voltar {
    background: orange;
}